/* Put your code here */
.grid {
  display: grid;
  grid-gap: 10px;
  grid-template: 100px 100px 100px / repeat(6, minmax(100px, 200px));
}

/* grid template
 grid template: minmax(100px, 200px) 100px 100px; 
 위와 같이 작성하면 min(최소값) 100px max(최대값) 200px의 영역만큼 차지는 아이템이 만들어진다.

*/

/* auto-fill vs. auto-fit
auto-fill은 비어 있는 공간이 생김
auto-fit은 비어 있는 공간이 있으면 0로 만들어서 존재하는 아이템들의 길이가 커진다.
*/